*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    background-image: url(images/bg_1.jpg);
    height: 700px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    /* padding: 1em 2em; */
}

.head{
    flex: 4;
    margin-top: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    background-color: white;
    height: 60px;
    position: fixed;
    width: 100%;
    box-shadow:0 2px 0 0 black;
}

.nav{
    flex: 3;
    margin-top: 20px;
}

.nav-item{
    display: inline;
    justify-content: space-between;
}

.list-item{
    margin-right: 19px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 700;
    padding: 3px 5px;
    color: black;

}

.a{
    height: 500px; 
    width: 90%;
    margin: auto;
    margin-top: 200px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
}

.b{
    height: 500px;
    flex: 1;
    /* border: 2px solid white; */
}

.b > h1{
    width: 90%;
    font-size: 70px;
    font-weight: 900;
    /* border: 2px solid green; */
    color: white;
}

.paul > a{
    margin-top: 70px !important;
    background-color: black;
    padding: 1.2em 2em;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}

.c{
    background-color: #fff;
    width: 90%;
    height: 500px;
    margin: auto;
    border: 2px solid teal;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    
}

.oh{
    background-image: url(images/about.jpg);
    height: 600px;
    width: 100%;
    background-size: 700px 550px;
    background-repeat: no-repeat;
    /* border: 2px solid; */
    padding: 3em 2em 0 0;
    position: relative;
    top: -50px;
}

.oh > div{
    margin-left: 300px;
    height: 100%;
    /* border: 2px solid; */
}

.oh > div >h2{
    width: 350px;
    /* border: 2px solid; */
    /* font-weight: 800; */
    font-size: 70px;
}

.oh > div >p{
    color: grey;
    font-weight: 500;
    font-size: 20px;
    margin: 2px;
    /* line-height: 1.2em; */
    width: 100%;
    margin-bottom: 40px;
}

.oh > div >a{
    /* margin-top: 40px; */
    background-color: yellow;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.damn{
    background-color: black;
    height: 500px;
    width:100%;
    color: white;
    padding: 4em 0 0 4em;
}

.damn > h1{
    font-size: 60px;
    width: 400px;
    border: green 2px solid;
}

.damn > h1 > span{
    color: gray;
}

.damn > p{
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 20px;
}

.damn > a{
    padding: 1em 2em;
    font-size: 20px;
    color: white;

}

.d{
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
}

.look{
    width: 300px;
    height: 310px;
    /* border: 2px solid brown; */
    padding: 1em;
    text-align: left;
}

.look:hover{
    background-color: orange;
}

.look >img{
    height: 100px;
}

.look >h2{
    margin-top: 1em;
}

.look >p{
    font-size: 20px;
    margin-top: 1em;
    line-height: 1.3em;
}

.modric{
    background-color: orange;
}

.e{
    height: 780px;
    border: 2px solid;
    padding: 2em;
}

.odin{
    width: 80%;
    border: 1px solid blue;
    margin: auto;
    text-align: center;
}

.odin >h2{
    font-size: 67px;
}

.odin >p{
    margin-top: 10px;
    font-size: 20px;
    color: #999999;
    font-weight: 600;
}

.thor{
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}

.loki{
    border: 1px solid;
    flex: 55.5%;
    text-align: center;
}

.loki >img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.loki>h2{
    width: 80%;
    margin: auto;
    margin-top: 1em;
    font-weight: 900;
    /* font-size: 20px; */
}

.f{
    background-color: blue;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.thanos{
    /* border: 2px solid red; */
    width: 50%;
    height: 100%;
    padding: 0 1em 0 4em;
}

.ant-man{
    height: 650px;
    /* border: 2px solid black; */
    background-image: url(images/testimony-img.png);
    background-size: 100%;
    margin-top: -200px;
    background-repeat: no-repeat;
}
.hulk{
    padding: 2em 2em 2em 0 ;
    width: 50%;
    height: 100%;
    
}

.hulk >h2{
    margin-top: 1em;
    font-size: 40px;
    margin-bottom: 1em;
    color: white;
}

.hulk >p{
    font-size: 23px;
    font-weight: 900;
    width: 500px;
    line-height: 1.3em;
    color: grey;
    /* line-height: em; */
}

.vision{
    display: flex;
    justify-content: left;
    margin-top: 2em;
}

.vision >div{
    margin-right: 2em;
}

.vision >ul{
    margin-top: 10px;
}

.vision >ul>li{
    margin-bottom: 1em;
    color: white;
    font-size: 20px;
    list-style-type: none;
}

.vision >div{
    height: 80px;
    width: 80px;
   
}

.vision >div >img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/* .loki >img:hover{
    background-color: orange !important;
} */
